<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @trip, remote: true, html: { style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="form-group">
          <%= f.label :commute, class: "control-label" %> <br>
          <%= f.select :commute, options_for_select(['To Work', 'To Home']), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :start_location, class: "control-label" %> <br>
          <%= f.select :start_location, options_for_select(['High and Price', 'Front and Main']), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :start_time, class: "control-label" %> <br>
          <%= f.datetime_select :start_time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :end_location, class: "control-label" %> <br>
          <%= f.select :end_location, options_for_select(['High and Main', 'High and Prescott']), class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :end_time, class: "control-label" %> <br>
          <%= f.datetime_select :end_time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :notes, class: "control-label" %>
          <%= f.text_area :notes, class: "form-control" %>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>